html, body {
  margin: 0;
  height: 100%;
  font-family: 'Fredoka', sans-serif;
  /*background-color: #414a4c;*/
  background-color:  #0F0F0F;
}

#main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#text {
  font-size: 25vh;
}

.rainbow {
  background: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red, orange, yellow, green, blue, indigo, violet);
  -webkit-background-clip: text;
  color: transparent;
  animation: rainbow-animation 4s 0s infinite;
  animation-timing-function: linear;
}

@keyframes rainbow-animation {
  0%    { background-position-x: 0;}
  /*50%   { background-position-x: 10vh}*/
  100% { background-position-x: 145vh;}
}
